.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  max-width: 360px;
  width: 100%;
}

.chooseTodo {
  background: #8064C2;
}